<nav class="p-3">
  <ul>
    <li><NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink></li>
    <li><NavLink href="/patients">Patients</NavLink></li>
    <li><NavLink href="/appointments">Appointments</NavLink></li>
    <li><NavLink href="/notes/eval">Eval Note</NavLink></li>
    <li><NavLink href="/admin/automessaging">Auto Messaging</NavLink></li>
    <li><NavLink href="/ui-kit">UI Kit</NavLink></li>
  </ul>
</nav>