@page "/notes/discharge"
@layout ResponsiveMainLayout

<PageTitle>Discharge Note</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Discharge Note</h1>
  <p>Document patient discharge and final treatment summary</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Discharge note functionality will be implemented here.</p>
    <p><small>This page will integrate with INoteBuilderService for creating discharge summaries and final assessments.</small></p>
  </div>
</div>

@code {
  // TODO: Wire to INoteBuilderService
  // TODO: Add discharge summary sections
  // TODO: Add final outcome measures
  // TODO: Add save/export actions
}
