@page "/notes/eval"

<PageTitle>Evaluation Note</PageTitle>

<h1>Evaluation Note (Stub)</h1>
<p>Wire to INoteBuilderService; prefill S/O/A/P; add save/export actions.</p>

@code {
    // TODO: Wire to INoteBuilderService
    // TODO: Prefill S/O/A/P sections
    // TODO: Add save/export actions
    // TODO: Add autosave functionality
    // TODO: Add note templates and validation
}