@page "/notes/eval"
@layout ResponsiveMainLayout

<PageTitle>Evaluation Note</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Evaluation Note</h1>
  <p>Create comprehensive initial evaluation documentation</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Evaluation note functionality will be implemented here.</p>
    <p><small>This page will integrate with INoteBuilderService to create initial evaluation notes with S/O/A/P sections.</small></p>
  </div>
</div>

@code {
    // TODO: Wire to INoteBuilderService
    // TODO: Prefill S/O/A/P sections
    // TODO: Add save/export actions
    // TODO: Add autosave functionality
    // TODO: Add note templates and validation
}
