@page "/notes/progress"
@layout ResponsiveMainLayout

<PageTitle>Progress Note</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Progress Note</h1>
  <p>Document patient progress and re-evaluation findings</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Progress note functionality will be implemented here.</p>
    <p><small>This page will integrate with INoteBuilderService for creating and editing progress/re-evaluation notes.</small></p>
  </div>
</div>

@code {
  // TODO: Wire to INoteBuilderService
  // TODO: Add progress evaluation sections
  // TODO: Add outcome measure tracking
  // TODO: Add save/export actions
}
