@page "/admin/settings"
@layout ResponsiveMainLayout

<PageTitle>Settings</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Settings</h1>
  <p>Configure system settings and preferences</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>System settings functionality will be implemented here.</p>
    <p><small>This page will allow configuration of clinic information, templates, and system preferences.</small></p>
  </div>
</div>

@code {
  // TODO: Add settings form
  // TODO: Add clinic configuration
  // TODO: Add template management
  // TODO: Add save functionality
}
