@page "/appointments"
@attribute [Authorize]

<PageTitle>Appointments - PhysicallyFit PT</PageTitle>

<h1>Appointments</h1>

<div class="card">
    <div class="card-header">Appointment Management</div>
    <p>Appointment scheduling and management functionality will be implemented here.</p>
    <p>This page will include:</p>
    <ul>
        <li>List of upcoming appointments</li>
        <li>Schedule new appointment dialog</li>
        <li>Filter and search capabilities</li>
        <li>Integration with patient records</li>
    </ul>
    <p><em>Coming soon in Phase 4...</em></p>
</div>