@page "/login"
@layout ResponsiveMainLayout

<PageTitle>Login</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Login</h1>
  <p>Authenticate to access the Physically Fit PT system</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Login functionality will be implemented here.</p>
    <p><small>This page will integrate with IAuthService for authentication.</small></p>
  </div>
</div>

@code {
  // TODO: Wire to IAuthService
  // TODO: Add authentication form
  // TODO: Handle login logic
}
