@page "/logout"
@layout ResponsiveMainLayout

<PageTitle>Logout</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Logout</h1>
  <p>Sign out of the Physically Fit PT system</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Logout functionality will be implemented here.</p>
    <p><small>This page will clear authentication tokens and redirect to login.</small></p>
  </div>
</div>

@code {
  // TODO: Wire to IAuthService
  // TODO: Clear authentication state
  // TODO: Redirect to login page
}
