@page "/intake"
@layout ResponsiveMainLayout

<PageTitle>Patient Intake</PageTitle>

<DebugStatBar />

<div class="pfp-page-header">
  <h1>Patient Intake</h1>
  <p>Register and onboard new patients into the system</p>
</div>

<div class="pfp-card">
  <div class="pfp-card-body">
    <p>Patient intake form will be implemented here.</p>
    <p><small>This page will collect new patient information, demographics, and initial assessment data.</small></p>
  </div>
</div>

@code {
  // TODO: Add patient intake form
  // TODO: Wire to IDataService for patient creation
  // TODO: Add validation
  // TODO: Add questionnaire integration
}
