<nav class="p-3">
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/patients">Patients</a></li>
    <li><a href="/appointments">Appointments</a></li>
    <li><a href="/notes/eval">Eval Note</a></li>
    <li><a href="/admin/automessaging">Auto Messaging</a></li>
    <li><a href="/ui-kit">UI Kit</a></li>
  </ul>
</nav>